<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>arsenal</string>
		<key>name</key>
		<string>Arsenal</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>aston_villa</string>
		<key>name</key>
		<string>Aston Villa</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>birmingham_city</string>
		<key>name</key>
		<string>Birmingham</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>blackburn_rovers</string>
		<key>name</key>
		<string>Blackburn</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>bolton_wanderers</string>
		<key>name</key>
		<string>Bolton</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>burnley</string>
		<key>name</key>
		<string>Burnley</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>chelsea</string>
		<key>name</key>
		<string>Chelsea</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>everton</string>
		<key>name</key>
		<string>Everton</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>fulham</string>
		<key>name</key>
		<string>Fulham</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>hull_city</string>
		<key>name</key>
		<string>Hull</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>liverpool</string>
		<key>name</key>
		<string>Liverpool</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>man_city</string>
		<key>name</key>
		<string>Man City</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>man_utd</string>
		<key>name</key>
		<string>Man Utd</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>portsmouth</string>
		<key>name</key>
		<string>Portsmouth</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>stoke_city</string>
		<key>name</key>
		<string>Stoke</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>sunderland</string>
		<key>name</key>
		<string>Sunderland</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>tottenham_hotspur</string>
		<key>name</key>
		<string>Tottenham</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>west_ham_utd</string>
		<key>name</key>
		<string>West Ham</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>wigan_athletic</string>
		<key>name</key>
		<string>Wigan</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>0</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>0</integer>
		<key>away_lost</key>
		<integer>0</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>0</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>0</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>0</integer>
		<key>id</key>
		<string>wolverhampton_wanderers</string>
		<key>name</key>
		<string>Wolverhampton</string>
		<key>points</key>
		<integer>0</integer>
		<key>total_played</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
