<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>away_against</key>
		<integer>7</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>18</integer>
		<key>away_lost</key>
		<integer>2</integer>
		<key>away_won</key>
		<integer>8</integer>
		<key>goal_difference</key>
		<integer>36</integer>
		<key>home_against</key>
		<integer>5</integer>
		<key>home_drawn</key>
		<integer>1</integer>
		<key>home_for</key>
		<integer>30</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>12</integer>
		<key>id</key>
		<string>man_utd</string>
		<key>name</key>
		<string>Man Utd</string>
		<key>points</key>
		<integer>65</integer>
		<key>total_played</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>8</integer>
		<key>away_drawn</key>
		<integer>2</integer>
		<key>away_for</key>
		<integer>25</integer>
		<key>away_lost</key>
		<integer>2</integer>
		<key>away_won</key>
		<integer>10</integer>
		<key>goal_difference</key>
		<integer>32</integer>
		<key>home_against</key>
		<integer>8</integer>
		<key>home_drawn</key>
		<integer>5</integer>
		<key>home_for</key>
		<integer>23</integer>
		<key>home_lost</key>
		<integer>2</integer>
		<key>home_won</key>
		<integer>7</integer>
		<key>id</key>
		<string>chelsea</string>
		<key>name</key>
		<string>Chelsea</string>
		<key>points</key>
		<integer>58</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>12</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>23</integer>
		<key>away_lost</key>
		<integer>2</integer>
		<key>away_won</key>
		<integer>8</integer>
		<key>goal_difference</key>
		<integer>25</integer>
		<key>home_against</key>
		<integer>8</integer>
		<key>home_drawn</key>
		<integer>6</integer>
		<key>home_for</key>
		<integer>22</integer>
		<key>home_lost</key>
		<integer>0</integer>
		<key>home_won</key>
		<integer>8</integer>
		<key>id</key>
		<string>liverpool</string>
		<key>name</key>
		<string>Liverpool</string>
		<key>points</key>
		<integer>58</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>14</integer>
		<key>away_drawn</key>
		<integer>0</integer>
		<key>away_for</key>
		<integer>22</integer>
		<key>away_lost</key>
		<integer>4</integer>
		<key>away_won</key>
		<integer>10</integer>
		<key>goal_difference</key>
		<integer>13</integer>
		<key>home_against</key>
		<integer>15</integer>
		<key>home_drawn</key>
		<integer>7</integer>
		<key>home_for</key>
		<integer>20</integer>
		<key>home_lost</key>
		<integer>2</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>aston_villa</string>
		<key>name</key>
		<string>Aston Villa</string>
		<key>points</key>
		<integer>52</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>15</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>23</integer>
		<key>away_lost</key>
		<integer>3</integer>
		<key>away_won</key>
		<integer>6</integer>
		<key>goal_difference</key>
		<integer>15</integer>
		<key>home_against</key>
		<integer>11</integer>
		<key>home_drawn</key>
		<integer>5</integer>
		<key>home_for</key>
		<integer>18</integer>
		<key>home_lost</key>
		<integer>2</integer>
		<key>home_won</key>
		<integer>7</integer>
		<key>id</key>
		<string>arsenal</string>
		<key>name</key>
		<string>Arsenal</string>
		<key>points</key>
		<integer>49</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>12</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>16</integer>
		<key>away_lost</key>
		<integer>3</integer>
		<key>away_won</key>
		<integer>7</integer>
		<key>goal_difference</key>
		<integer>8</integer>
		<key>home_against</key>
		<integer>16</integer>
		<key>home_drawn</key>
		<integer>5</integer>
		<key>home_for</key>
		<integer>20</integer>
		<key>home_lost</key>
		<integer>4</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>everton</string>
		<key>name</key>
		<string>Everton</string>
		<key>points</key>
		<integer>45</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>17</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>15</integer>
		<key>away_lost</key>
		<integer>5</integer>
		<key>away_won</key>
		<integer>4</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>17</integer>
		<key>home_drawn</key>
		<integer>1</integer>
		<key>home_for</key>
		<integer>19</integer>
		<key>home_lost</key>
		<integer>6</integer>
		<key>home_won</key>
		<integer>7</integer>
		<key>id</key>
		<string>west_ham_utd</string>
		<key>name</key>
		<string>West Ham</string>
		<key>points</key>
		<integer>39</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>24</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>15</integer>
		<key>away_lost</key>
		<integer>8</integer>
		<key>away_won</key>
		<integer>1</integer>
		<key>goal_difference</key>
		<integer>9</integer>
		<key>home_against</key>
		<integer>12</integer>
		<key>home_drawn</key>
		<integer>0</integer>
		<key>home_for</key>
		<integer>30</integer>
		<key>home_lost</key>
		<integer>5</integer>
		<key>home_won</key>
		<integer>9</integer>
		<key>id</key>
		<string>man_city</string>
		<key>name</key>
		<string>Man City</string>
		<key>points</key>
		<integer>35</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>15</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>14</integer>
		<key>away_lost</key>
		<integer>7</integer>
		<key>away_won</key>
		<integer>3</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>12</integer>
		<key>home_drawn</key>
		<integer>4</integer>
		<key>home_for</key>
		<integer>13</integer>
		<key>home_lost</key>
		<integer>4</integer>
		<key>home_won</key>
		<integer>6</integer>
		<key>id</key>
		<string>wigan_athletic</string>
		<key>name</key>
		<string>Wigan</string>
		<key>points</key>
		<integer>35</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>13</integer>
		<key>away_drawn</key>
		<integer>7</integer>
		<key>away_for</key>
		<integer>3</integer>
		<key>away_lost</key>
		<integer>7</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>1</integer>
		<key>home_against</key>
		<integer>10</integer>
		<key>home_drawn</key>
		<integer>3</integer>
		<key>home_for</key>
		<integer>21</integer>
		<key>home_lost</key>
		<integer>2</integer>
		<key>home_won</key>
		<integer>8</integer>
		<key>id</key>
		<string>fulham</string>
		<key>name</key>
		<string>Fulham</string>
		<key>points</key>
		<integer>34</integer>
		<key>total_played</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>25</integer>
		<key>away_drawn</key>
		<integer>1</integer>
		<key>away_for</key>
		<integer>16</integer>
		<key>away_lost</key>
		<integer>9</integer>
		<key>away_won</key>
		<integer>4</integer>
		<key>goal_difference</key>
		<integer>-10</integer>
		<key>home_against</key>
		<integer>15</integer>
		<key>home_drawn</key>
		<integer>2</integer>
		<key>home_for</key>
		<integer>14</integer>
		<key>home_lost</key>
		<integer>6</integer>
		<key>home_won</key>
		<integer>6</integer>
		<key>id</key>
		<string>bolton_wanderers</string>
		<key>name</key>
		<string>Bolton</string>
		<key>points</key>
		<integer>33</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>24</integer>
		<key>away_drawn</key>
		<integer>3</integer>
		<key>away_for</key>
		<integer>18</integer>
		<key>away_lost</key>
		<integer>8</integer>
		<key>away_won</key>
		<integer>3</integer>
		<key>goal_difference</key>
		<integer>0</integer>
		<key>home_against</key>
		<integer>9</integer>
		<key>home_drawn</key>
		<integer>5</integer>
		<key>home_for</key>
		<integer>15</integer>
		<key>home_lost</key>
		<integer>4</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>tottenham_hotspur</string>
		<key>name</key>
		<string>Tottenham</string>
		<key>points</key>
		<integer>32</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>20</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>12</integer>
		<key>away_lost</key>
		<integer>6</integer>
		<key>away_won</key>
		<integer>3</integer>
		<key>goal_difference</key>
		<integer>-8</integer>
		<key>home_against</key>
		<integer>16</integer>
		<key>home_drawn</key>
		<integer>3</integer>
		<key>home_for</key>
		<integer>16</integer>
		<key>home_lost</key>
		<integer>6</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>sunderland</string>
		<key>name</key>
		<string>Sunderland</string>
		<key>points</key>
		<integer>32</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>21</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>19</integer>
		<key>away_lost</key>
		<integer>4</integer>
		<key>away_won</key>
		<integer>5</integer>
		<key>goal_difference</key>
		<integer>-16</integer>
		<key>home_against</key>
		<integer>29</integer>
		<key>home_drawn</key>
		<integer>3</integer>
		<key>home_for</key>
		<integer>15</integer>
		<key>home_lost</key>
		<integer>8</integer>
		<key>home_won</key>
		<integer>3</integer>
		<key>id</key>
		<string>hull_city</string>
		<key>name</key>
		<string>Hull</string>
		<key>points</key>
		<integer>32</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>31</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>10</integer>
		<key>away_lost</key>
		<integer>10</integer>
		<key>away_won</key>
		<integer>0</integer>
		<key>goal_difference</key>
		<integer>-17</integer>
		<key>home_against</key>
		<integer>13</integer>
		<key>home_drawn</key>
		<integer>4</integer>
		<key>home_for</key>
		<integer>17</integer>
		<key>home_lost</key>
		<integer>3</integer>
		<key>home_won</key>
		<integer>7</integer>
		<key>id</key>
		<string>stoke_city</string>
		<key>name</key>
		<string>Stoke</string>
		<key>points</key>
		<integer>29</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>23</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>14</integer>
		<key>away_lost</key>
		<integer>8</integer>
		<key>away_won</key>
		<integer>2</integer>
		<key>goal_difference</key>
		<integer>-11</integer>
		<key>home_against</key>
		<integer>22</integer>
		<key>home_drawn</key>
		<integer>6</integer>
		<key>home_for</key>
		<integer>20</integer>
		<key>home_lost</key>
		<integer>4</integer>
		<key>home_won</key>
		<integer>4</integer>
		<key>id</key>
		<string>newcastle_united</string>
		<key>name</key>
		<string>Newcastle</string>
		<key>points</key>
		<integer>28</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>22</integer>
		<key>away_drawn</key>
		<integer>5</integer>
		<key>away_for</key>
		<integer>11</integer>
		<key>away_lost</key>
		<integer>6</integer>
		<key>away_won</key>
		<integer>2</integer>
		<key>goal_difference</key>
		<integer>-15</integer>
		<key>home_against</key>
		<integer>22</integer>
		<key>home_drawn</key>
		<integer>2</integer>
		<key>home_for</key>
		<integer>18</integer>
		<key>home_lost</key>
		<integer>7</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>portsmouth</string>
		<key>name</key>
		<string>Portsmouth</string>
		<key>points</key>
		<integer>28</integer>
		<key>total_played</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>22</integer>
		<key>away_drawn</key>
		<integer>4</integer>
		<key>away_for</key>
		<integer>15</integer>
		<key>away_lost</key>
		<integer>6</integer>
		<key>away_won</key>
		<integer>3</integer>
		<key>goal_difference</key>
		<integer>-13</integer>
		<key>home_against</key>
		<integer>21</integer>
		<key>home_drawn</key>
		<integer>5</integer>
		<key>home_for</key>
		<integer>15</integer>
		<key>home_lost</key>
		<integer>6</integer>
		<key>home_won</key>
		<integer>3</integer>
		<key>id</key>
		<string>blackburn_rovers</string>
		<key>name</key>
		<string>Blackburn</string>
		<key>points</key>
		<integer>27</integer>
		<key>total_played</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>25</integer>
		<key>away_drawn</key>
		<integer>2</integer>
		<key>away_for</key>
		<integer>8</integer>
		<key>away_lost</key>
		<integer>10</integer>
		<key>away_won</key>
		<integer>2</integer>
		<key>goal_difference</key>
		<integer>-20</integer>
		<key>home_against</key>
		<integer>15</integer>
		<key>home_drawn</key>
		<integer>6</integer>
		<key>home_for</key>
		<integer>12</integer>
		<key>home_lost</key>
		<integer>4</integer>
		<key>home_won</key>
		<integer>4</integer>
		<key>id</key>
		<string>middlesbrough</string>
		<key>name</key>
		<string>Middlesbrough</string>
		<key>points</key>
		<integer>26</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>away_against</key>
		<integer>27</integer>
		<key>away_drawn</key>
		<integer>2</integer>
		<key>away_for</key>
		<integer>6</integer>
		<key>away_lost</key>
		<integer>11</integer>
		<key>away_won</key>
		<integer>1</integer>
		<key>goal_difference</key>
		<integer>-29</integer>
		<key>home_against</key>
		<integer>27</integer>
		<key>home_drawn</key>
		<integer>2</integer>
		<key>home_for</key>
		<integer>19</integer>
		<key>home_lost</key>
		<integer>7</integer>
		<key>home_won</key>
		<integer>5</integer>
		<key>id</key>
		<string>west_bromwich_albion</string>
		<key>name</key>
		<string>West Brom</string>
		<key>points</key>
		<integer>22</integer>
		<key>total_played</key>
		<integer>28</integer>
	</dict>
</array>
</plist>
